.pf-c-page__header(role='banner')
  .pf-c-page__header-brand
    a.pf-c-page__header-brand-link
      img.pf-c-brand(src='./assets/images/AdamJJolicoeur_brand.png', alt='brand logo')
  .pf-c-page__header-nav
    nav.pf-c-nav.pf-m-end#page-layout-horizontal-nav(aria-label="Global navigation")
      ul.pf-c-nav__horizontal-list
        li.pf-c-nav__item
          a.pf-c-nav__link(href='#') Link
        li.pf-c-nav__item
          a.pf-c-nav__link(href='#') Link
        li.pf-c-nav__item
          a.pf-c-nav__link(href='#') Link
        li.pf-c-nav__item
          a.pf-c-nav__link(href='#') Link
  .pf-c-page__header-tools
    .pf-c-page__header-tools-group.pf-m-icons
      button.pf-c-button.pf-m-plain(aria-label='Alerts')
        i.fas.fa-bell(aria-hidden='true')
      button.pf-c-button.pf-m-plain(aria-label='Settings')
        i.fas.fa-cog(aria-hidden='true')
    .pf-c-page__header-tools-group
      .pf-c-dropdown
        button.pf-c-dropdown__toggle.pf-m-mobile.pf-m-plain
      .pf-m-user
        .pf-c-dropdown
          button.pf-c-dropdown__toggle.pf-m-mobile.pf-m-plain
      img.pf-c-avater(src='./assets/images/avatar.png', alt='Avatar image', style='height: 30px; border-radius: 50%;')
