/*!
 * Dashboard Prototype -  v0.0.0 (https://www.adamjolicoeur.com/DashboardPrototype)
 * Copyright 2019-2019 Adam J. Jolicoeur
 */
.status-alert__error {
  color: red; }

.status-alert__success {
  color: green; }

.status-alert__starting {
  color: grey; }
