doctype html
html(lang='en')
  include includes/header.pug

  body
    h1.pf-screen-reader Prototype template
    .pf-c-page
      a.pf-c-skip-to-content.pf-c-button.pf-m-primary(href='#main-content-page-layout')
      include includes/navigation.pug
      main.pf-c-page__main(role='main')
        a#main-content-page-layout
        section.pf-c-page__main-section.pf-m-light
          .pf-c-content
            h1 This background uses the white background
            p All text is set to use the default text color.
        section.pf-c-page__main-section
          h1 This background uses the default background color
          p All text is set to use the default text color.
          .pf-l-gallery.pf-m-gutter
            .pf-l-gallery__item
              .pf-c-card
                .pf-c-card__header This is a card header
                .pf-c-card__body This is a card body with 14px font
                .pf-c-card__footer This is a card footer (14px)
            .pf-l-gallery__item
              .pf-c-card
                .pf-c-card__header This is a card header
                .pf-u-pr-lg.pf-u-pb-lg.pf-u-pl-lg This is a card body with 16px font
                .pf-c-card__footer This is a card footer (14px)
        section.pf-c-page__main-section.pf-m-dark-200
          h1 This background uses a dark background color
          p All text is set to use the white text color.
          .pf-l-gallery.pf-m-gutter
            .pf-l-gallery__item
              .pf-c-card
                .pf-c-card__header This is a card header
                .pf-c-card__body This is a card body with 14px font
                .pf-c-card__footer This is a card footer (14px)
            .pf-l-gallery__item
              .pf-c-card
                .pf-c-card__header This is a card header
                .pf-u-pr-lg.pf-u-pb-lg.pf-u-pl-lg This is a card body with 16px font
                .pf-c-card__footer This is a card footer (14px)
        section.pf-c-page__main-section.pf-m-dark-100
          h1 This background uses the darkest background color
          p All text is set to use the white text color.
          .pf-l-gallery.pf-m-gutter
            .pf-l-gallery__item
              .pf-c-card
                .pf-c-card__header This is a card header
                .pf-c-card__body This is a card body with 14px font
                .pf-c-card__footer This is a card footer (14px)
            .pf-l-gallery__item
              .pf-c-card
                .pf-c-card__header This is a card header
                .pf-u-pr-lg.pf-u-pb-lg.pf-u-pl-lg This is a card body with 16px font
                .pf-c-card__footer This is a card footer (14px)

